@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Helvetica';
  src: url('../app/fonts/Helvetica.eot');
  src: url('../app/fonts/Helvetica.eot') format('embedded-opentype'),
       url('../app/fonts/Helvetica.woff2') format('woff2'),
       url('../app/fonts/Helvetica.woff') format('woff'),
       url('../app/fonts/Helvetica.ttf') format('truetype'),
       url('../app/fonts/Helvetica.svg#Helvetica') format('svg');
}

@font-face {
  font-family: 'HelveticaBold';
  src: url('../app/fonts/HelveticaBold.eot');
  src: url('../app/fonts/HelveticaBold.eot') format('embedded-opentype'),
       url('../app/fonts/HelveticaBold.woff2') format('woff2'),
       url('../app/fonts/HelveticaBold.woff') format('woff'),
       url('../app/fonts/HelveticaBold.ttf') format('truetype'),
       url('../app/fonts/HelveticaBold.svg#HelveticaBold') format('svg');
}


.helvatica-bold{
  font-family: 'HelveticaBold';
}

[data-scroll-container] {
  overflow: hidden;
}

[data-scroll-section] {
  position: relative;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color:#141414;
  font-family: 'Helvetica';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes upDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.scroll-down-animation {
  animation: upDown 2s infinite;
}

.line{
  position: relative;
  /* background-color: #ccc; */
  overflow: hidden;
}

.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #999999 75%, #000000 100%);
  -webkit-animation: drop 5s 0s infinite;
          animation: drop 5s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

@-webkit-keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 100%;
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 100%;
  }
}

@keyframes typing-left-to-right {
  from { opacity: 0; transform: translateX(-100%); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes typing-right-to-left {
  from { opacity: 0; transform: translateX(100%); }
  to { opacity: 1; transform: translateX(0); }
}

.typing-effect-left-to-right {
  animation: typing-left-to-right 1s ease forwards;
}

.typing-effect-right-to-left {
  animation: typing-right-to-left 1s ease forwards;
}

.big-ltr{
  font-size: 150px;
  line-height: 160px;
  font-family: 'HelveticaBold';
  text-align: center;
  color: #fff;
  letter-spacing: 1px;

}



.role-tabs-card-img.mobile {
  display: none;
}

.role-tabs-wrapper {
  align-items: center;
  min-height: 640px;
  margin-bottom: 160px;
  display: flex;
  position: relative;
}

.role-tabs-card {
  background-color: #FFF3F3;
  text-align: center;
  border-radius: 32px;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 18px;
  transition-property: none;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
  overflow: hidden;
}
.role-tabs-card-img-wrapper {
  flex-direction: column;
  justify-content: flex-end;
  height: 180%;
  transition: height 6s cubic-bezier(.23,1,.32,1);
  display: flex;
}

.role-tabs-card:hover .role-tabs-card-img-wrapper {
  height: 100%;
}



.w-inline-block {
  max-width: 100%;
 
}
.first-box{
  counter-increment: box-counter;
}

.first-box::before{
      position: absolute;
      right: -120px;
      top: 50%;
      transform: translateY(-50%);
      content: counter(box-counter, decimal-leading-zero); 
      background-color: #E74235;
      width: 72px;
      height: 72px;
      border-radius: 100%;
      text-align: center;
      line-height: 72px;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      box-shadow: 0 0 6px #E74235;
}

.process-prt:nth-child(even) .first-box::before{
  left: -120px;
  right: auto;
}

.animation-box{
  counter-reset: box-counter;
  position: relative;
  padding-bottom: 100px;
  overflow: hidden;
}

.process-prt{
  position: relative;
}

.animation-box:before{
  position: absolute;
  left: 50%;
  top: 10px;
  width: 1px;
  height: 100%;
  content: "";
  z-index: 99;
  background: url(/line.svg) repeat-y 50% 0;
  background-color: #000000;
  transform: translateX(-50%);
  opacity: 0.5;
} 

.animation-box::after {
  position: absolute;
  left: 50%;
  top: 10px;
  width: 1px;
  height: 100%;
  content: "";
  z-index: 99;
  transform: translateX(-50%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #E74235 75%, #850f07 100%);
  -webkit-animation: dropone 7s 0s infinite;
          animation: dropone 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.animation-box::before {
  position: absolute;
  left: 50%;
  bottom: 10px;
  width: 1px;
  height: 100%;
  content: "";
  z-index: 99;
  transform: translateX(-50%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #E74235 75%, #E74235 100%);
  -webkit-animation: droptwo 7s 0s infinite;
          animation: droptwo 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

@-webkit-keyframes dropone {
  0% {
    top: -50%;
  }
  100% {
    top: 100%;
  }
}

@keyframes dropone {
  0% {
    top: -50%;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes droptwo {
  0% {
    bottom: -50%;
  }
  100% {
    bottom: 100%;
  }
}

@keyframes droptwo {
  0% {
    bottom: -50%;
  }
  100% {
    bottom: 100%;
  }
}

.animated-letter {
  display: inline-block;
  animation: animateLetter 0.5s ease forwards;
  opacity: 0;
}

@keyframes animateLetter {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body{
  overflow-x: hidden;
}

.animatedText {
  font-size: 187px;
  line-height: 190px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Helvetica-Bold', sans-serif;
  overflow: hidden;
}

.letter {
  display: inline-block;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.portfolio-text {
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #ea4335, #fff);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear forwards;
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: rgba(255, 255, 255, 0); */
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}



